.action-card {
    background-color: var(--color-blue-bright);
    border-radius: 3px;
    color: #fff;
    padding: 1.6rem 1.6rem 2rem;
    position: relative;
    margin-bottom: 4.5rem;
    margin-top: 5rem;

    strong {
        font-size: 1.5625rem;
        margin-bottom: 1.7rem;
    }

    p.button-container {
        position: absolute;
        bottom: -70px;
    }

    a.button {
        align-items: center;
        background-color: #fff;
        box-shadow: 0 1px 4px 0 rgb(0 0 0/ 30%);
        color: #555;
        display: inline-flex;
        line-height: 1;
        font-size: 1.25rem;
        font-weight: 600;
        padding: 1.43rem 3.5rem 1.43rem 1.5rem;
        position: relative;
        text-align: left;
        border-radius: 4px;

        &::after {
            content: '>';
            font-size: 1rem;
            height: 26px;
            line-height: 26px;
            padding: 0 0 0 2px;
            position: absolute;
            right: 1.2rem;
            transform: translateY(-50%);
            text-align: center;
            top: 50%;
            width: 26px;
            background-color: #555;
            mask-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2216%22%20width%3D%2210%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20opacity%3D%221%22%20fill%3D%22%231E3050%22%20d%3D%22M278.6%20233.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-160%20160c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3L210.7%20256%2073.4%20118.6c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200l160%20160z%22%2F%3E%3C%2Fsvg%3E");
            mask-repeat: no-repeat;
            mask-size: contain;
        }

        &:hover {
            background-color: var(--color-blue-bright);
            color: white;

            &::after {
                background-color: white;
            }
        }
    }
}